body{
    background-color: black;
    color: blanchedalmond;
}
ul{
    background-color: #555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}
li{
    list-style: none;
    margin-left: 3px;
}